<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <h1> Prediction </h1>
    {% include 'nav.html' %}
    <form method="post" action="/predict">
        <h1> Provide the following numerical values for prediction : </h1>
        <h3> {{ ", ".join(data.columns.values[1:]) }} </h3>
        <textarea name="input"></textarea>
        <button> Submit </button>
    </form>
    <div style="display: flex; ">
        {% if results_num %}
        <img src="data:image/png;base64,{{ img_data }}" />
        <div style="display: flex; flex-direction: column">
            {% for _class in results_num.keys() %}
            <div>
                <h3>
                    For "{{ _class }}": <br /><br />
                </h3>
                <h4>
                    Normal PDF = {{ results_num[_class] }} <br />
                    <!-- Qualitative Probability = {{ results_qual[_class] }} <br/> -->
                </h4>
            </div>
            {% endfor %}
        </div>
        <div style="display:flex; justify-items:center; text-align: center;">
            <h4>
                Hence, we can say the given input is of class <q>{{ infer }}</q>
            </h4>
        </div>
        {% endif %}
    </div>
</body>

</html>