<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
</head>

<body>
    <h1> Prediction </h1>
    {% include 'nav.html' %}
    <form method="post" action="/predict">
        <h1> Provide the following numerical values for prediction : </h1>
        <h3> {{ ", ".join(numerical_column_names[0]) }} </h3>
        <textarea name="input"></textarea>
        <button> Submit </button>
    </form>
    <img src="data:image/png;base64,{{ img_data }}" />
    {% if results %}
    {% for _class in results %}
    <div>
        <h3>
            For {{ _class }}: PDF = {{ results[_class] }} <br />
        </h3>
    </div>
    <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 1fr;">
        <div>
            Covariance
            {{ stats[_class]["covariance"] | safe }}
        </div>
        <div>
            Stats
            {{ stats[_class]["other"] | safe }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
</body>

</html>